<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SweetCakes</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class = "container">
      <div class="Jumbotron">
        @Html.Partial("NavBar")
        <div class = "bodyText">
          @RenderBody()
        </div>
      </div>
    </div>

  </body>
</html>

