@{
  Layout = "_Layout";
}

@using SweetCakes.ViewModels

@model LoginViewModel

<h4>Log in with your Email Address</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    <input type="submit" value="Log in" class="btn btn-default" />
}